<!DOCTYPE html>
<html layout:decorate="~{'/layouts/layout'}">
<head>
<meta charset="UTF-8" />
<title>Resumo do Pedido</title>
</head>
<body>

		<div class="content-wrapper" layout:fragment="corpo">
			<div class="panel panel-default">
				<div class="panel-heading">
					<strong>Carrinho de Compras</strong>
					<div><label>Itens do Pedido</label></div>		
				<div class="form-group row">
					<div>								
								<div th:each="livro : ${itemPedido.livro}" >
									<hr class="sidebar-divider my-1">
										<div>
											<i class="fas fa-fw fa-book"></i>
										</div>	
										<div><label>Titulo do Livro:</label>
										<div th:text="${livro.titulo}" ></div></div>
										<div><label>Editora:</label>
										<div th:text="${livro.editora.nome}" ></div></div>
									<hr class="sidebar-divider my-1">							
								</div>
								
								<div><label>Valor Total do Pedido:</label>
								<div th:text="${itemPedido.valorTotal}" ></div></div>
								<div><label>Quantidade de Itens:</label>
								<label><div th:text="${itemPedido.quantidade}" ></div></label></div>
								<a class="btn btn-sm btn-primary" th:href="@{/pedido/addPedido/{id}(id=${itemPedido.id})}" >Confirmar</a>
								
							<hr class="sidebar-divider my-0">
						</div>
					
					</div>
				</div>
			</div>
		</div>
	
</body>
</html>