<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
<title>Realizar Pedido</title>


<script type="text/javascript" >

function limpa_formulário_cep() {
        //Limpa valores do formulário de cep.
        document.getElementById('preco').value=("");
        document.getElementById('prazo').value=("");
}


function pesquisacep(valor) {

    //Nova variável "cep" somente com dígitos.
    var cep = valor.replace(/\D/g, '');



    //Verifica se campo cep possui valor informado.
    if (cep != "") {

        //Expressão regular para validar o CEP.
        var validacep = /^[0-9]{8}$/;

        //Valida o formato do CEP.
        if(validacep.test(cep)) {
        	 alert( "Aguarde um Momento! Estamos Trabalhando Nisso" );
            //Preenche os campos com "..." enquanto consulta webservice.
            document.getElementById('preco').value="...";
            document.getElementById('prazo').value="...";
            
            $.getJSON( 'https://apiservicocorreios.herokuapp.com/'+cep+'/20,0/50,0/50,0/50,0/50.0', function( dataobj ) {
		    	
		    })
		    .done(function(dataobj) {
    		    alert( "Preço do Frete Calculado" );
    		    document.getElementById('preco').value=(dataobj.preco);
                document.getElementById('prazo').value=(dataobj.prazo);
                
              
             	        // desabilitando o campo 
             		$('#preco').attr("disabled", false);
             		// mudando a cor do campo
             	    $('#preco').css("background-color", "#cccccc"); 
             		
             	    $('#prazo').attr("disabled", false);
            		// mudando a cor do campo
            	    $('#prazo').css("background-color", "#cccccc"); 
             	   
            
    		  })
    		  .fail(function(dataobj) {
    		    //alert( "error" );
    		    limpa_formulário_cep();
    		  });
            //Cria um elemento javascript.
            //var script = document.createElement('script');

            //Sincroniza com o callback.
            //script.src = 'https://viacep.com.br/ws/'+ cep + '/json/?callback=meu_callback';

            //Insere script no documento e carrega o conteúdo.
           // document.body.appendChild(script);

        } //end if.
        else {
            //cep é inválido.
            limpa_formulário_cep();
            alert("Formato de CEP inválido.");
        }
    } //end if.
    else {
        //cep sem valor, limpa formulário.
        limpa_formulário_cep();
    }
};

</script>

<script type="text/javascript">
	function fMasc(objeto, mascara) {
		obj = objeto
		masc = mascara
		setTimeout("fMascEx()", 1)
	}
	function fMascEx() {
		obj.value = masc(obj.value)
	}
	function mCEP(cep) {
		cep = cep.replace(/\D/g, "")
		cep = cep.replace(/(\d{5})(\d)/, "$1-$2")
		return cep
	}
</script>


</head>
<body>
		<div class="content-wrapper" layout:fragment="corpo">
			<div class="panel panel-default">
				<div class="panel-heading">
					<strong>Livros Disponíveis</strong>
				</div>
			<form class="container" method="post" th:object="${itemPedido}"
				th:action="@{/itemPedido/save}">

				<!--Input responsável em guardar o id-->
				<input id="id" name="id" type="hidden" th:field="*{id}"
					th:value="*{id}">

				<!-- div reponsável em mostrar os erros -->
				<div class="form-group row">
					<div class="alert alert-danger alert-dismissible fade show"
						role="alert" th:if="${#fields.hasAnyErrors()}">

						<button type="button" class="close" data-dismiss="alert"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>

						<div th:each="detailedError : ${#fields.detailedErrors()}">
							<strong th:text="${detailedError.message}"> </strong>
						</div>
					</div>
				</div>
				
				<div class="form-group row">
					<div>
						<div th:each="livro : ${livros}">
							<hr class="sidebar-divider my-1">
							<div class="row">
							<div class="form-group col-md-2">
							 <!-- <div class="w3-padding w3-xlarge w3-teal">  -->
							 <div>
								<div>
									<!-- <li class="w3-jumbo w3-teal"><i class="fas fa-fw fa-book"></i></li> -->
									<!-- <link rel="shortcut icon" th:href="@{/img/book.png}" />  -->
									<img height="180px" width="160px" th:src="@{/img/book.png}"><br>
								</div>	
							</div>
							</div>
							<div class="form-group col-md-6">
								<div th:field="*{livro}" ></div>
								<label>Titulo:</label> <div th:text="${livro.titulo}" ></div>
								<label>Sinopse:</label> <div th:text="${livro.sinopse}" ></div>		
								<label>Preço:</label> <div th:text="${livro.preco}" ></div>
								
								<input type="checkbox" th:field="*{livro}" th:value="${livro.id}"><span>Add ao Carrinho</span><br>
								</div>
								<div class="form-group col-md-4">
									<label>Ano:</label> <div th:text="${livro.ano}" ></div>									
									<label>Editora: </label><div th:text="${livro.editora.nome}" ></div>
									<label>Autor(es):</label>
									<div th:each="autor : ${livro.autor}" >
										<div th:text= "${autor.nome}" ></div>								
									</div>
							
							</div>
							<div class="form-group col-md-4">
								<a class="btn btn-sm btn-info" th:href="@{/livro/details/{id}(id=${livro.id})}" >Mais Detalhes Sobre o Livro</a>
							</div>
							</div>
								<!--  <div th:value="${livro.id}" th:text="${livro.isbn}" ></div> -->
								<!--  <button class="btn btn-sm btn-primary" th:value="${livro.id}" >Comprar</button>  -->
								<!--  <button type="submit" class="btn btn-primary">Comprar</button> -->
								<!--  <a class="btn btn-sm btn-primary" th:href="@{/itemPedido/addCarrinho/{{id}(id=${livro.id})/{itemPedido}(itemPedido=${itemPedido})}}" >Adicionar No Carrinho</a>  -->
							<hr class="sidebar-divider my-0">
						</div>
					</div>
					
				</div>
				
				
				<!-- <div class="form-group row">
					<select th:field="*{livro}" class="selectpicker">
						<option selected value="-1">Selecione um Livro</option>
						<option th:each="livro : ${livros}" 
						th:value="${livro.id}" th:text="${livro.titulo}"></option>
					</select>
				</div>  --> 
				
				<label>Informe o Cep para calcular preço e prazo do Frete</label>    
				 <div class="form-group row">               
				 	                                       
					<div class="col-md-4" th:classappend="${#fields.hasErrors('cep')}? 'has-error'">
					    
					    <input type="text" class="form-control input-sm" th:field="*{cep}" onkeydown="javascript: fMasc( this, mCEP );" maxlength="9" onblur="pesquisacep(this.value);"/>
					</div>
					<input id="btn" type="button" value="Calcular"/>
				</div>  
				
				
				<div class="form-group row">                                                          
					<div class="col-md-4" th:classappend="${#fields.hasErrors('preco')}? 'has-error'">
					    <label>Preço</label>
					    <input id="preco" name="preco" type="text" class="form-control input-sm" th:field="*{preco}" disabled="disabled"/>
					</div>
				</div>  
				<div class="form-group row">                                                          
					<div class="col-md-4" th:classappend="${#fields.hasErrors('prazo')}? 'has-error'">
					    <label>Prazo</label>
					    <input id="prazo" name="prazo" type="text" class="form-control input-sm" th:field="*{prazo}" disabled="disabled"/>
					</div>
				</div>  
		
				

				<div class="form-group row">
					<button type="submit" class="btn btn-primary">Ir Para o Carrinho De Compras</button> 
					<button><a th:href="@{/itemPedido/add}" class="btn btn-sm btn-danger">Cancelar Pedido</a></button>
				</div>

			</form>

		</div>
		</div>

	
</body>
</html>