<!DOCTYPE html>
<html layout:decorate="~{'/layouts/layout'}">
<head>
<meta charset="UTF-8" />
<title>Realizar Pedido</title>
</head>
<body>
		<div class="content-wrapper" layout:fragment="corpo">
			<div class="panel panel-default">
				<div class="panel-heading">
					<strong>Livros Disponíveis</strong>
				</div>
			<form class="container" method="post" th:object="${itemPedido}"
				th:action="@{/itemPedido/save}">

				<!--Input responsável em guardar o id-->
				<input id="id" name="id" type="hidden" th:field="*{id}"
					th:value="*{id}">

				<!-- div reponsável em mostrar os erros -->
				<div class="form-group row">
					<div class="alert alert-danger alert-dismissible fade show"
						role="alert" th:if="${#fields.hasAnyErrors()}">

						<button type="button" class="close" data-dismiss="alert"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>

						<div th:each="detailedError : ${#fields.detailedErrors()}">
							<strong th:text="${detailedError.message}"> </strong>
						</div>
					</div>
				</div>
				
				<div class="form-group row">
					<div>
						<div th:each="livro : ${livros}">
							<hr class="sidebar-divider my-1">
								<div>
									<i class="fas fa-fw fa-book"></i>
								</div>	
								<div th:field="*{livro}" ></div>
								<div th:text="${livro.sinopse}" ></div>
								<div th:text="${livro.ano}" ></div>
								<div th:text="${livro.edicao}" ></div>
								<div th:text="${livro.editora.nome}" ></div>
								<div th:text="${livro.categoria.nome}" ></div>
								<div th:each="autor : ${livro.autor}" >
									<div th:text= "${autor.nome}" ></div>								
								</div>
								<div th:text="${livro.preco}" ></div>
								
								<!--  #056945 -->
								
								<input type="checkbox" th:field="*{livro}" th:value="${livro.id}"><div th:text="${livro.titulo}"></div><br>
								
								<!--  <div th:value="${livro.id}" th:text="${livro.isbn}" ></div> -->
								<!--  <button class="btn btn-sm btn-primary" th:value="${livro.id}" >Comprar</button>  -->
								<!--  <button type="submit" class="btn btn-primary">Comprar</button> -->
								<!--  <a class="btn btn-sm btn-primary" th:href="@{/itemPedido/addCarrinho/{{id}(id=${livro.id})/{itemPedido}(itemPedido=${itemPedido})}}" >Adicionar No Carrinho</a>  -->
							<hr class="sidebar-divider my-0">
						</div>
					</div>
					
				</div>
				
				
				<!-- <div class="form-group row">
					<select th:field="*{livro}" class="selectpicker">
						<option selected value="-1">Selecione um Livro</option>
						<option th:each="livro : ${livros}" 
						th:value="${livro.id}" th:text="${livro.titulo}"></option>
					</select>
				</div>  --> 
				
				<!-- <div class="form-group row">                                                          
					<div class="col-md-4" th:classappend="${#fields.hasErrors('quantidade')}? 'has-error'">
					    <label>Infrome a Quantidade Desejada</label>
					    <input type="text" class="form-control input-sm" th:field="*{quantidade}" autofocus="autofocus" maxlength="20"/>
					</div>
				</div>  -->
		
				

				<div class="form-group row">
					<button type="submit" class="btn btn-primary">Adicionar ao Carrinho</button> 
					<button><a th:href="@{/itemPedido/add}" class="btn btn-sm btn-danger">Cancelar Pedido</a></button>
				</div>

			</form>

		</div>
		</div>

	
</body>
</html>