<!DOCTYPE html>
<html layout:decorate="~{'/layout'}">
<head>
<meta charset="UTF-8" />
<title>Dados de Entrega</title>


</head>

</head>
<body>

		<div class="content-wrapper" layout:fragment="corpo">
			<div class="panel panel-default">
			<div class="panel-heading">
					<strong>Detalhes do Pedido</strong>
					<div class="panel-body">
					<div class="table-responsive">
						<table class="table table-sm table-striped table-hover table-bordered">
							<thead>
								<tr>
									<th>Numero do Pedido</th>
									<th>Valor Total com o Frete</th>
									<th>Data do Pedido</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td th:text="${pedido.id}" ></td>
									<td th:text="${pedido.valorTotal}" ></td>
									<td th:text="${pedido.data}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				
			</div>
			
			<div class="panel-heading">
					<strong>Detalhes do Frete</strong>
					<div class="panel-body">
					<div class="table-responsive">
						<table class="table table-sm table-striped table-hover table-bordered">
							<thead>
								<tr>
									<th>Dias</th>
									<th>Valor do Frete</th>
									<th>Data de entrega</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td th:text="${frete.totDias}" ></td>
									<td th:text="${frete.valor}" ></td>
									<td th:text="${frete.dataEntregaCliente}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				
			</div>
				<!-- <form class="container">
			
				<input type="radio" th:field="*{pedido}" th:value="${pedido.id}"><br>
				<strong>Dados de Entrega</strong>
				
				
				<input id="id" name="id" type="hidden" th:field="*{id}"
					th:value="*{id}">

				
				<div class="form-group row">
					<div class="alert alert-danger alert-dismissible fade show"
						role="alert" th:if="${#fields.hasAnyErrors()}">

						<button type="button" class="close" data-dismiss="alert"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>

						<div th:each="detailedError : ${#fields.detailedErrors()}">
							<strong th:text="${detailedError.message}"> </strong>
						</div>
					</div>
				</div>
				
				<div class="form-group row">                                                          
					<div class="col-md-4" th:classappend="${#fields.hasErrors('cep')}? 'has-error'">
					    <label>CEP</label>
					    <input type="text" class="form-control input-sm" th:field="*{cep}" autofocus="autofocus" onkeydown="javascript: fMasc( this, mCEP );" onblur="pesquisacep(this.value);" maxlength="9"/>
					</div>
				</div>
				
				<div class="form-group row">                                                          
					<div class="col-md-4" th:classappend="${#fields.hasErrors('uf')}? 'has-error'">
					    <label>Estado</label>
					    <input type="text" class="form-control input-sm" th:field="*{uf}" autofocus="autofocus"  maxlength="150"/>
					</div>
				</div>
				
				<div class="form-group row">                                                          
					<div class="col-md-4" th:classappend="${#fields.hasErrors('cidade')}? 'has-error'">
					    <label>Cidade</label>
					    <input type="text" class="form-control input-sm" th:field="*{cidade}" autofocus="autofocus" maxlength="150"/>
					</div>
				</div>
				
				<div class="form-group row">                                                          
					<div class="col-md-4" th:classappend="${#fields.hasErrors('bairro')}? 'has-error'">
					    <label>Bairro</label>
					    <input type="text" class="form-control input-sm" th:field="*{bairro}" autofocus="autofocus" maxlength="150"/>
					</div>
				</div>
				
				<div class="form-group row">                                                          
					<div class="col-md-4" th:classappend="${#fields.hasErrors('rua')}? 'has-error'">
					    <label>Rua</label>
					    <input type="text" class="form-control input-sm" th:field="*{rua}" autofocus="autofocus" placeholder="Informe A Rua" maxlength="150"/>
					</div>
				</div> 

				<div class="form-group row">
					<button type="submit" class="btn btn-primary">Finalizar</button>
					<button><a th:href="@{/itemPedido/add}" class="btn btn-sm btn-danger">Cancelar</a></button>
				</div>

			</form> -->
			
				<div class="form-group row">
					<button><a th:href="@{/pedido/listarporusuario}" class="btn btn-sm btn-primary">Ver Pedidos</a></button>
				</div>
			</div>
		</div>
	
</body>
</html>
