<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
<title>Cadastro de Usuario</title>


<!-- Adicionando Javascript 
<script type="text/javascript" >

function limpa_formulário_cep() {
        //Limpa valores do formulário de cep.
        document.getElementById('rua').value=("");
        document.getElementById('bairro').value=("");
        document.getElementById('cidade').value=("");
        document.getElementById('uf').value=("");
}

function meu_callback(conteudo) {
    if (!("erro" in conteudo)) {
        //Atualiza os campos com os valores.
        document.getElementById('rua').value=(conteudo.logradouro);
        document.getElementById('bairro').value=(conteudo.bairro);
        document.getElementById('cidade').value=(conteudo.localidade);
        document.getElementById('uf').value=(conteudo.uf);
    } //end if.
    else {
        //CEP não Encontrado.
        limpa_formulário_cep();
        alert("CEP não encontrado.");
    }
}

function pesquisacep(valor) {

    //Nova variável "cep" somente com dígitos.
    var cep = valor.replace(/\D/g, '');



    //Verifica se campo cep possui valor informado.
    if (cep != "") {

        //Expressão regular para validar o CEP.
        var validacep = /^[0-9]{8}$/;

        //Valida o formato do CEP.
        if(validacep.test(cep)) {

            //Preenche os campos com "..." enquanto consulta webservice.
            document.getElementById('rua').value="...";
            document.getElementById('bairro').value="...";
            document.getElementById('cidade').value="...";
            document.getElementById('uf').value="...";

            //Cria um elemento javascript.
            var script = document.createElement('script');

            //Sincroniza com o callback.
            script.src = 'https://viacep.com.br/ws/'+ cep + '/json/?callback=meu_callback';

            //Insere script no documento e carrega o conteúdo.
            document.body.appendChild(script);

        } //end if.
        else {
            //cep é inválido.
            limpa_formulário_cep();
            alert("Formato de CEP inválido.");
        }
    } //end if.
    else {
        //cep sem valor, limpa formulário.
        limpa_formulário_cep();
    }
};

</script>
-->

</head>

</head>
<body>
		<div class="content-wrapper" layout:fragment="corpo">
			<div class="panel panel-default">
				<div class="panel-heading">
					<strong>Cadastro de Usuarios</strong>
				</div>
			<form class="container" method="post" th:object="${usuario}"
				th:action="@{/usuario/save}">

				<!--Input responsável em guardar o id-->
				<input id="id" name="id" type="hidden" th:field="*{id}"
					th:value="*{id}">

				<!-- div reponsável em mostrar os erros -->
				<div class="form-group row">
					<div class="alert alert-danger alert-dismissible fade show"
						role="alert" th:if="${#fields.hasAnyErrors()}">

						<button type="button" class="close" data-dismiss="alert"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>

						<div th:each="detailedError : ${#fields.detailedErrors()}">
							<strong th:text="${detailedError.message}"> </strong>
						</div>
					</div>
				</div>
				
				<div class="form-group row">                                                          
					<div class="col-md-4" th:classappend="${#fields.hasErrors('nomeCompleto')}? 'has-error'">
					    <label>Nome</label>
					    <input type="text" class="form-control input-sm" th:field="*{nomeCompleto}" autofocus="autofocus" placeholder="Informe o Nome" maxlength="150"/>
					</div>
				</div>
				
				<div class="form-group row">                                                          
					<div class="col-md-4" th:classappend="${#fields.hasErrors('cep')}? 'has-error'">
					    <label>CEP</label>
					    <input type="text" class="form-control input-sm" th:field="*{cep}" autofocus="autofocus" onkeydown="javascript: fMasc( this, mCEP );" onblur="pesquisacep(this.value);" maxlength="9"/>
					</div>
				</div>
				
				<div class="form-group row">                                                          
					<div class="col-md-4" th:classappend="${#fields.hasErrors('uf')}? 'has-error'">
					    <label>Estado</label>
					    <input type="text" class="form-control input-sm" th:field="*{uf}" autofocus="autofocus"  maxlength="150"/>
					</div>
				</div>
				
				<div class="form-group row">                                                          
					<div class="col-md-4" th:classappend="${#fields.hasErrors('cidade')}? 'has-error'">
					    <label>Cidade</label>
					    <input type="text" class="form-control input-sm" th:field="*{cidade}" autofocus="autofocus" maxlength="150"/>
					</div>
				</div>
				
				<div class="form-group row">                                                          
					<div class="col-md-4" th:classappend="${#fields.hasErrors('bairro')}? 'has-error'">
					    <label>Bairro</label>
					    <input type="text" class="form-control input-sm" th:field="*{bairro}" autofocus="autofocus" maxlength="150"/>
					</div>
				</div>
				
				<div class="form-group row">                                                          
					<div class="col-md-4" th:classappend="${#fields.hasErrors('rua')}? 'has-error'">
					    <label>Rua</label>
					    <input type="text" class="form-control input-sm" th:field="*{rua}" autofocus="autofocus" placeholder="Informe A Rua" maxlength="150"/>
					</div>
				</div>
				
				<div class="form-group row">
					<div class="col-md-4" th:classappend="${#fields.hasErrors('email')}? 'has-error'">
						<label>Email</label> 
						<input type="text" class="form-control input-sm" th:field="*{email}" maxlength="150" placeholder="Informe o Email"/>
					</div>
				</div>
				
				<div class="form-group row">
					<div class="col-md-4" th:classappend="${#fields.hasErrors('username')}? 'has-error'">
						<label>Crie um Username</label> 
						<input type="text" class="form-control input-sm" th:field="*{username}" maxlength="150" placeholder="Informe uma Senha"/>
					</div>
				</div>
				
				<div class="form-group row">
					<div class="col-md-4" th:classappend="${#fields.hasErrors('password')}? 'has-error'">
						<label>Crie uma Senha</label> 
						<input type="password" class="form-control input-sm" th:field="*{password}" maxlength="150" placeholder="Informe uma Senha"/>
					</div>
				</div>
				
				<label>Selecione o(s) Papel(is):</label>
				 <div class="form-group">
				
					 <div th:each="role : ${roles}">
						 <input type="checkbox" th:field="*{role}" th:value="${role.id}"><span th:text="${'  '}"></span><span th:text="${role.nome}"></span><br>
					 </div>
				 
				 </div>

				<div class="form-group row">
					<button type="submit" class="btn btn-primary">Cadastrar</button>
					<button><a th:href="@{/}" class="btn btn-sm btn-danger">Cancelar</a></button>
				</div>

			</form>

		</div>
		</div>

		<script th:src="@{/vendor/js/maskcpf.js}"></script>
		<script th:src="@{/vendor/js/buscacep.js}"></script>
</body>
</html>


	
