<!DOCTYPE html>
<html layout:decorate="~{'/layouts/layout'}">
<head>
<meta charset="UTF-8" />
<title>Cadastro de Editora</title>

</head>
<body>
		<div class="content-wrapper" layout:fragment="corpo">
			<div class="panel panel-default">
				<div class="panel-heading">
					<strong>Cadastro de Editoras</strong>
				</div>
			<form class="container" method="post" th:object="${editora}"
				th:action="@{/editora/save}">

				<!--Input responsável em guardar o id-->
				<input id="id" name="id" type="hidden" th:field="*{id}"
					th:value="*{id}">

				<!-- div reponsável em mostrar os erros -->
				<div class="form-group row">
					<div class="alert alert-danger alert-dismissible fade show"
						role="alert" th:if="${#fields.hasAnyErrors()}">

						<button type="button" class="close" data-dismiss="alert"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>

						<div th:each="detailedError : ${#fields.detailedErrors()}">
							<strong th:text="${detailedError.message}"> </strong>
						</div>
					</div>
				</div>
				
				<div class="form-group row">                                                          
					<div class="col-md-4" th:classappend="${#fields.hasErrors('nome')}? 'has-error'">
					    <label>Nome</label>
					    <input type="text" class="form-control input-sm" th:field="*{nome}" autofocus="autofocus" placeholder="Informe o Nome" maxlength="150"/>
					</div>
				</div>
				
				<div class="form-group row">                                                          
					<div class="col-md-4" th:classappend="${#fields.hasErrors('cidade')}? 'has-error'">
					    <label>Cidade</label>
					    <input type="text" class="form-control input-sm" th:field="*{cidade}" autofocus="autofocus" placeholder="Informe a Cidade" maxlength="150"/>
					</div>
				</div>
				

				<div class="form-group row">
					<button type="submit" class="btn btn-primary">Cadastrar</button>
					<button><a th:href="@{/}" class="btn btn-sm btn-danger">Cancelar</a></button>
				</div>

			</form>

		</div>
		</div>
		
</body>
</html>