<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
<title>Listagem de Editora</title>
</head>
<body>

		<div class="content-wrapper" layout:fragment="corpo">
			<div class="panel panel-default">
				<div class="panel-heading">
			<strong>Editoras</strong>
				</div>
				<div class="panel-body">
					<div class="table-responsive">
						<table class="table table-sm table-striped table-hover table-bordered">
							<thead>
								<tr>
									<th>ID</th>
									<th>Nome</th>
									<th>Cidade</th>
									<th>Ações</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="editora : ${editoras}">
									<td th:text="${editora.id}"></td>
									<td th:text="${editora.nome}"></td>
									<td th:text="${editora.cidade}"></td>
									<td>
										<div class="btn-group pull-right">
									   		<a class="btn btn-sm btn-primary" th:href="@{/editora/edit/{id}(id=${editora.id})}" >Editar</a>
									   		<a class="delete btn btn-sm btn-danger" th:href="@{/editora/delete/{id}(id=${editora.id})}">Excluir</a>
									   </div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="panel-footer">
					<a class="btn btn-sm btn-success" th:href="@{/editora/add}" >Adicionar Nova</a>
				</div>

			</div>
		</div>
	
</body>
</html>